<div>
  <div class="submit-form">
    <div class="form-group">
      <label for="nombres">Nombres</label>
      <input
        type="text"
        class="form-control"
        id="nombres"
        required
        [(ngModel)]="visitante.Nombres"
        name="nombres"
      />
    </div>

    <div class="form-group">
      <label for="nombres">Apellidos</label>
      <input
        type="text"
        class="form-control"
        id="nombres"
        required
        [(ngModel)]="visitante.Apellidos"
        name="nombres"
      />
    </div>
    <div class="form-group">
      <label for="visitantes">Tipo de Identificación</label>
      <select
        name="visitantes"
        class="form-control"
        [(ngModel)]="visitante.TipoIdentificacion"
      >
        <option [ngValue]="objeto" *ngFor="let objeto of listadoIdentificaciones">
          {{ objeto.Siglas }}
      </select>
    </div>
    <div class="form-group">
      <label for="identificacion">Identificación</label>
      <input
        type="text"
        class="form-control"
        id="identificacion"
        required
        [(ngModel)]="visitante.Identificacion"
        name="identificacion"
      />
    </div>

    <button (click)="guardarRegistro()" class="btn btn-success">Guardar</button>
  </div>
</div>
