<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Prueba tecnica</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="visitantes" class="nav-link">visitantes en Instalaciones</a>
      </li>
      <li class="nav-item">
        <a routerLink="addVisitante" class="nav-link">Agregar visitante</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
